.nav-link {
    color: black !important;
}

.largeHeadline{
	font-family: 'Cinzel Decorative', cursive;
}
.coupleVerticalNamesSeparator{
	font-family: 'Niconne', cursive;
	  font-size: 30px;
}
.css-ui73q2{
	font-family: 'Adamina', serif;
	  font-size: 25px;

}
.css-16smqfs{
	font-family: 'Cinzel Decorative', cursive;
}
.css-105kaw{
	font-family: 'Cinzel Decorative', cursive;
}

}

}