.nav-link {
    color: black !important;
}

.largeHeadline{
	font-family: 'Cinzel Decorative', cursive;
}
.coupleVerticalNamesSeparator{
	font-family: 'Niconne', cursive;
	  font-size: 30px;
}

}
.css-16smqfs{
	font-family: 'Cinzel Decorative', cursive;
}
.css-105kaw{
	font-family: 'Cinzel Decorative', cursive;
}
.css-ui73q2 {
    font-family: "MrsEaves Regular";
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-transform: none;
}
.css-19e0b73 {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: solid 8px #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}

.css-105kawk {
    font-family: "Quickpen regular";
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-transform: none;
    letter-spacing: normal;
    font-size: 24px;
    color: #252920;

    }
.body {
    font-family: "MrsEavesRoman regular";
    font-weight: 400;
    line-height: 1.6;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16.8px;

